### Series and Dataframes

## Pandas

In [9]:
import numpy as np
import pandas as pd

fruits = pd.Series(["Apple", "Pear", "Orange"])
fruits.apply(str.upper)

0     APPLE
1      PEAR
2    ORANGE
dtype: object

In [6]:
numbers = pd.Series([5,25,55,1,4], index=[5,6,7,8,9])
numbers * 2

5     10
6     50
7    110
8      2
9      8
dtype: int64

In [12]:
mask = numbers >= 5
numbers[mask]

5     5
6    25
7    55
dtype: int64

## DataFrme

In [16]:
data = {
  "Name": ["Ton", "Mon","Manio"],
  "Age": [55,66,77],
  "Sex": ["Male", "Female", "Alien"],
  "Money": [555,2244,99999]
}

df = pd.DataFrame(data)
type(df)
df

    Name  Age     Sex  Money
0    Ton   55    Male    555
1    Mon   66  Female   2244
2  Manio   77   Alien  99999

In [134]:
df["Age"] = df["Age"] + 10
df

    Name   Age     Sex  Money
0    Ton  1205    Male    555
1    Mon  1216  Female   2244
2  Manio  1227   Alien  99999

In [136]:
print(df)

    Name   Age     Sex  Money
0    Ton  1205    Male    555
1    Mon  1216  Female   2244
2  Manio  1227   Alien  99999