### Bool mask and bool indexing.

In [8]:
import numpy as np
import pandas as pd
floats = pd.DataFrame(np.random.randn(7,4), columns=["A","B","C","D"])
floats

          A         B         C         D
0 -0.483869 -0.055294  0.020698 -0.917756
1  0.774484  0.861168  1.398304  0.950032
2 -1.565672 -1.391946 -0.971331  1.197362
3 -0.336773 -1.553911  1.416591 -1.373300
4 -0.927783  0.772012 -0.391267  2.053619
5  0.128875  0.738176 -1.157942  0.665830
6  1.800742  0.711100 -1.385889  0.242027

In [10]:
#Creating bool mask for column "B"
floats["B"] >= 0

# Selecting all rows where "B" >= 0
floats[floats["B"] >= 0]

          A         B         C         D
1  0.774484  0.861168  1.398304  0.950032
4 -0.927783  0.772012 -0.391267  2.053619
5  0.128875  0.738176 -1.157942  0.665830
6  1.800742  0.711100 -1.385889  0.242027